# web_static files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
.npm
.yarn-integrity
build/
web_static/build
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
test/

# added extra for this project
icons/*
wotclans*
wotnlclans*

# Added by cargo
/target

# Added myself
.DS_Store
