    <div class="madeby">
      <p>Site gemaakt door <a href="<%= madebylink %>"><%= madeby %></a></p>
    </div>
    <script src='/js/spf.js'></script>
    <script src='/dyjs/vue.js'></script>
    <script src='/dyjs/script.js'></script>
    <script src='/js/anime.min.js'></script>
  </body>
</html>
