    <div class="header">
      <div class="info">
        Yay een niuwe site!!! <span v-on:click="status()">Meer Info &amp; waarom</span>
      </div>
    </div>
    <div class="maincontent">
      <div class="clanslist v-l" v-cloak>
        <h1>Clans</h1>
        <div class="listheader">
          <div class="icon" v-if="resize > 415"></div>
          <div class="cound">#</div>
          <div class="name">Tag</div>
          <div class="clanrating">Rating</div>
          <div class="winrate">Win</div>
          <div class="leden" v-if="resize > 365">Leden</div>
          <div class="s" v-if="resize > 515">Strongholds</div>
          <div class="gm" v-if="resize > 625">Global map</div>
        </div>
        <a v-on:click="open(item.id)" class="items" v-for="(item, id) in items" v-bind:id="'list-' + id">
          <div v-bind:style="{'background-position': item.pos}" class="icon listicons" v-if="resize > 415"></div>
          <div class="cound">{{ id + 1 }}</div>
          <div class="name">{{ item.tag }}<div v-if='!item.tag' class='line'></div></div>
          <div class="clanrating">{{ item.rate }}<div v-if='!item.rate' class='line'></div></div>
          <div class="winrate">{{ item.win }}<div v-if='!item.win' class='line'></div></div>
          <div class="leden" v-if="resize > 365">{{ item.leden }}<div v-if='!item.leden' class='line'></div></div>
          <div class="s" v-if="resize > 515">{{ item.s[item.fun('s')] }}<div v-if='!item.s' class='line'></div></div>
          <div class="gm" v-if="resize > 625">{{ item.gm[item.fun('gm')] }}<div v-if='!item.gm' class='line'></div></div>
        </a>
      </div>
    </div>
    <div class="madeby">
      <p>Site gemaakt door <a href="<%= madebylink %>"><%= madeby %></a></p>
    </div>
    <div class="popup">
      <div class="popup-center" v-html="html" v-click-outside="outside">
        {{ html }}
      </div>
    </div>
    <script src='/js/spf.js'></script>
    <script src='/dyjs/vue.js'></script>
    <script src='/dyjs/script.js'></script>
    <script src='/js/anime.min.js'></script>
  </body>
</html>
