    <div class="header" v-cloak>
      <div class="info notflex">
        <h1>
          opties
          <svg
            fill="#fff"
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
            v-on:click="ViewSettings(nothidden)"
            v-bind:class="{active: !nothidden }">
            <path d="M7 10l5 5 5-5z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </h1>
        Updates: <span v-on:click="status()">Info</span>
      </div>
      <div class="auth <%if (login) { %>notflex<% } %>" v-if="nothidden">
        <%if (login) { %>
          <div class="logedin notflex">
            <h1>Clan instellingen</h1>
            <div class="row">
              <div class="website searchbox">
                <label class="clanwebsite-label" for="clanwebsite">Clanwebsite</label>
                <input
                  :disabled="caneddit"
                  type="text"
                  v-model="clanwebsite"
                  id="clanwebsite"
                  name="clanwebsite"
                  class="clanwebsite"
                  v-on:focus="focus('clanwebsite-label')"
                  v-on:blur="blur('clanwebsite-label')">
              </div>
              <div class="teamspeak searchbox">
                <label class="clanteamspeak-label" for="clanteamspeak">Teamspeak</label>
                <input
                  :disabled="caneddit"
                  type="text"
                  v-model="clanteamspeak"
                  id="clanteamspeak"
                  name="clanteamspeak"
                  class="clanteamspeak"
                  v-on:focus="focus('clanteamspeak-label')"
                  v-on:blur="blur('clanteamspeak-label')">
              </div>
              <div class="submit">
                <button :disabled="caneddit" type="button" name="button" v-on:click="save()">Opslaan</button>
              </div>
              <div class="submit">
                <p>{{ SaveStatus }}</p>
              </div>
            </div>
          </div>
        <% } else { %>
          <div class="login flex">
            <div><a href="/redirect/login" class="wg-login-button">Login</a> met je wargaming account</div>
            <div><a href="/api" class="wg-login-button">API</a> Wot nl clans api site</div>
          </div>
        <% } %>
      </div>
      <div class="sorting flex" v-if="nothidden">
        <h1>Sorteeren</h1>
        <div class="row">
          <button type="button" v-on:click="SortClans('win')" v-bind:class="{ active: (Sorting == 'win') }">Win rate</button>
          <button type="button" v-on:click="SortClans('rate')" v-bind:class="{ active: (Sorting == 'rate') }">Rating</button>
          <button type="button" v-on:click="SortClans('s')" v-bind:class="{ active: (Sorting == 's') }">Strongholds</button>
          <button type="button" v-on:click="SortClans('gm')" v-bind:class="{ active: (Sorting == 'gm') }">Global map</button>
        </div>
        <div class="row">
          <div v-if='Sorting == "s"'>
            Tier:
            <button v-on:click="SetS('6')" v-bind:class="{ active: (SettingsS == '6') }" type="button">6</button>
            <button v-on:click="SetS('8')" v-bind:class="{ active: (SettingsS == '8') }"  type="button">8</button>
            <button v-on:click="SetS('10')" v-bind:class="{ active: (SettingsS == '10') }"  type="button">10</button>
          </div>
          <div v-if='Sorting == "gm"'>
            Tier:
            <button v-on:click="SetGM('6')" v-bind:class="{ active: (SettingsGM == '6') }" type="button">6</button>
            <button v-on:click="SetGM('8')" v-bind:class="{ active: (SettingsGM == '8') }" type="button">8</button>
            <button v-on:click="SetGM('10')" v-bind:class="{ active: (SettingsGM == '10') }" type="button">10</button>
          </div>
        </div>
      </div>
      <div class="switch">
        <button class="option op1"
        v-on:click="displaystats = true"
        v-bind:class="{off: displaystats}">
          <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
        <button class="option op2"
        v-on:click="displaystats = false"
        :disabled="!MediaIsLoaded"
        v-bind:class="{off: !displaystats}">
          <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M2 6H0v5h.01L0 20c0 1.1.9 2 2 2h18v-2H2V6zm20-2h-8l-2-2H6c-1.1 0-1.99.9-1.99 2L4 16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM7 15l4.5-6 3.5 4.51 2.5-3.01L21 15H7z"/>
          </svg>
        </button>
        <div class="search">
          <label class="search-label" for="search">
            <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </label>
          <input
            placeholder="Clans Zoekken"
            type="text"
            v-model="search"
            id="search"
            name="search"
            class="search">
        </div>
      </div>
    </div>
    <div class="maincontent">
      <div class="clanmedia">
        <clanmedia></clanmedia>
      </div>
      <div class="clanslist startscreenbox v-l" v-cloak v-if="show">
        <div class="side1">
          <h1>Clans</h1>
          <div class="listheader">
            <div class="icon" v-if="resize > 415"></div>
            <div class="cound">#</div>
            <div class="name">Tag</div>
            <div class="clanrating">Rating</div>
            <div class="winrate">Win</div>
            <div class="leden" v-if="resize > 365">Leden</div>
            <div class="s" v-if="resize > 515">Strongholds</div>
            <div class="gm" v-if="resize > 625">Global map</div>
          </div>
          <a v-on:click="open(item.id)" class="items" v-for="(item, id) in items" v-bind:id="'list-' + id" v-if="item.tag.toLowerCase().indexOf(search.toLowerCase()) !== -1">
            <div v-bind:style="{'background-position': item.pos, 'background-image': img[item.imgid]}" class="icon listicons" v-if="resize > 415"></div>
            <!-- <div class="icon listicons" v-if="resize > 415"></div> -->
            <div class="cound">{{ id + 1 }}</div>
            <div class="name">{{ item.tag }}<div v-if='!item.tag' class='line'></div></div>
            <div class="clanrating">{{ item.rate }}<div v-if='!item.rate' class='line'></div></div>
            <div class="winrate">{{ item.win }}<div v-if='!item.win' class='line'></div></div>
            <div class="leden" v-if="resize > 365">{{ item.leden }}
              <div v-if='!item.leden' class='line'></div>
            </div>
            <div class="s" v-if="resize > 515">{{ item.s[item.fun('s')] }}
              <div v-if='!item.s["6"]' class='line'></div>
            </div>
            <div class="gm" v-if="resize > 625">{{ item.gm[item.fun('gm')] }}
              <div v-if='!item.gm["6"]' class='line'></div>
            </div>
          </a>
        </div>
        <div class="side2">
          <h1>Heb jij een link of poster die hier moet staan stuur mij dan een bericht in wot: <a href="<%= madebylink %>"><%= madeby %></a></h1>
          <div class="ads" v-if="ShowAds && checkedwebp != undefined">
            <a v-for="item in ads" :href="item.href" target="_blank"><img v-if="checkedwebp == false" :src="item.src"><img v-if="checkedwebp == true" :src="item.webp"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="madeby">
      <p>
        Site gemaakt door <a href="<%= madebylink %>"><%= madeby %></a>
        <br/>Met dank aan <a href="https://worldoftanks.eu/en/community/accounts/501573002">duijm</a> Voor een groot deel van de clans
      </p>
    </div>
    <div class="popup">
      <div class="popup-center" v-html="html" v-click-outside="outside">
        {{ html }}
      </div>
    </div>
    <div v-cloak class="imageviewer" v-if="bigshow">
      <div class="actions">
        <div class="thistitles">
          <a v-if="bigclan.imgs[bigimage].url != ''" :href="bigclan.imgs[bigimage].url">
            <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
            </svg>
            <h1>{{ bigclan.imgs[bigimage].title || 'Link' }}</h1>
          </a>
          <h1 v-else="bigclan.imgs[bigimage].url != ''">{{ bigclan.imgs[bigimage].title }}</h1>
        </div>
        <div class="thisclose">
          <svg v-on:click="bigshow = false" fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </div>
      </div>
      <div class="bigimg">
        <img :src="'/clanmedia/' + bigclan.id + bigclan.imgs[bigimage].location + '.' + bigclan.imgs[bigimage].filetype">
      </div>
      <div class="list">
        <div
        class="listitem"
        v-on:click="bigimage = id"
        v-for="(img,id) in bigclan.imgs"
        :class="{active: id == bigimage}"
        :style="{'background-image': 'url(' + '/clanmedia/' + bigclan.id + img.location + '.' + img.filetype + ')'}"></div>
      </div>
    </div>
    <div class="offline" v-bind:class="{ deviceoffline: !isonline }" v-cloak>OFFLINE</div>
    <script src='/dyjs/vue.js'></script>
    <script src='/js/anime.min.js'></script>
    <script src='/dyjs/script.js'></script>
    <script async src='/js/underscore.min.js'></script>
    <script defer src='/dyjs/changeclandata.js'></script>
    <noscript>
      <div class="noscript">
        <h1 class="text">Sorry deze site heeft javascript nodig</h1>
        <h1 class="smyle">:(</h1>
      </div>
      <link rel="stylesheet" href="/css/nojs.css">
    </noscript>
    <script defer>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-77662251-2', 'auto');
      ga('send', 'pageview');
    </script>
    <script defer>
      if('serviceWorker' in navigator) {
        navigator.serviceWorker
        .register('/serviceworker.js')
        .then(function() { console.log("Service Worker Registered"); });
      }
    </script>
  </body>
</html>
