<%if (full) { %>
  <% include top.ejs %>
  <div class="clanstatspage">
<% } %>
<div class="content">
  <div class="clanintro" v-bind:style="{'background-image': bgimage}"></div>
  <div class="claniconholder">
    <div class="iconholder2">
      <img v-bind:src="image" unselectable="on" draggable="false">
    </div>
  </div>
  <div class="claninfo">

  </div>
</div>
<%if (full) { %>
  </div>
  <% include bottom.ejs %>
<% } %>
