<%if (full) { %>
  <% include top.ejs %>
  <div class="clanstatspage">
<% } %>
<div class="content v-l" v-cloak>
  <div class="clanintro" v-bind:style="bgimage"></div>
  <div class="claniconholder">
    <div class="iconholder2">
      <p>{{ clantag }}</p>
      <loadingimg :preview="smallimage" :image="image"></loadingimg>
    </div>
  </div>
  <div class="claninfo">
    <div class="links">
      <a v-bind:href="wglink">Wargaming</a>
      <a v-if="site != ''" target="_blank" v-bind:href="site">Clan website</a>
      <a v-if="ts != ''" >Clan TS: {{ ts }}</a>
    </div>
    <div v-if="login && CanReportClans && !ClansReported[clan_id]" class="review">
      <h2 v-if="reviewcomplete">review</h2>
      <p v-if="reviewcomplete">
        Is dit een NL/BE clan en zijn de spelers actief?
        <a v-on:click="review(true)">Ja</a>
        <a v-on:click="review(false)">Nee</a>
      </p>
      <p>{{ thanksforsubmit }}</p>
    </div>
    <div class="stats">
      <div class="item s">
        <h1>{{ win }}</h1>
        <p>Winrate</p>
      </div>
      <div class="item s">
        <h1>{{ eff }}</h1>
        <p>Rating</p>
      </div>
      <div class="item s">
        <h1>{{ leden }}</h1>
        <p>Leden</p>
      </div>
      <div class="item l">
        <h1>{{ sh6 }} | {{ sh8 }} | {{ sh10 }}</h1>
        <p>Strongholds 6,8,10</p>
      </div>
      <div class="item l">
        <h1>{{ gm6 }} | {{ gm8 }} | {{ gm10 }}</h1>
        <p>global map 6,8,10</p>
      </div>
    </div>
    <div class="thisclanmedia" v-if="Clanmedia.status && Clanmedia.imgs.length > 0">
      <h1>Media</h1>
      <div class="mediaimage" v-for="(img,id) in Clanmedia.imgs" v-on:click="displaybig(Clanmedia,id)">
        <loadingimg :preview="'/clanmedia/' + clan_id + img.location + '.min.' + img.filetype" :image="'/clanmedia/' + clan_id + img.location + '.' + img.filetype"></loadingimg>
      </div>
    </div>
    <div class="clandis">
      <h1>over</h1>
      <div class="dis" v-html="dis">{{ dis }}</div>
    </div>
  </div>
</div>
<%if (full) { %>
  </div>
  <% include bottom.ejs %>
<% } %>
