<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wot NL/BE clans</title>
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="titlebar" v-cloak>
      {{ sitetitle }}
    </div>
    <div class="header">
    </div>
    <div class="maincontent">
      <div class="clanslist" v-cloak>
        <h1>Clans</h1>
        <div class="listheader">
          <div class="icon"></div>
          <div class="cound">#</div>
          <div class="name">Tag</div>
          <div class="clanrating">Rating</div>
          <div class="winrate">Win</div>
          <div class="leden">Leden</div>
          <div class="s">Strongholds</div>
          <div class="gm">Global map</div>
        </div>
        <div class="items" v-for="(item, id) in items" v-bind:id="'list-' + id">
          <div class="icon"></div>
          <div class="cound">{{ id + 1 }}</div>
          <div class="name">{{ item.tag }}<div v-if='!item.tag' class='line'></div></div>
          <div class="clanrating">{{ item.rate }}<div v-if='!item.rate' class='line'></div></div>
          <div class="winrate">{{ item.win }}<div v-if='!item.win' class='line'></div></div>
          <div class="leden">{{ item.leden }}<div v-if='!item.leden' class='line'></div></div>
          <div class="s">{{ item.s }}<div v-if='!item.s' class='line'></div></div>
          <div class="gm">{{ item.gm }}<div v-if='!item.gm' class='line'></div></div>
        </div>
      </div>
    </div>
    <script src='/js/spf.js'></script>
    <script src='/dyjs/vue.js'></script>
    <script src='/dyjs/script.js'></script>
    <div class="madeby">
      <p>Site gemaakt door <a href="<%= madebylink %>"><%= madeby %></a></p>
    </div>
  </body>
</html>
