<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wot NL/BE clans</title>
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="titlebar">
      {{ sitetitle }}
    </div>
    <div class="header">
    </div>
    <div class="maincontent">
      <div class="clanslist">
        <h1>Clans</h1>
        <div class="listheader">
          <div class="icon"></div>
          <div class="name">#</div>
          <div class="clanrating">Rating</div>
          <div class="winrate">Win</div>
          <div class="leden">Leden</div>
          <div class="s">Strongholds</div>
          <div class="gm">Global map</div>
        </div>
        <div class="i" v-for="(item, index) in items">
          <div class="icon"></div>
          <div class="name"></div>
          <div class="clanrating"></div>
          <div class="winrate"></div>
          <div class="leden"></div>
          <div class="s"></div>
          <div class="gm"></div>
        </div>
      </div>
    </div>
    <script src='js/spf.js'></script>
    <script src='js/vue.js'></script>
    <script src='js/script.js'></script>
  </body>
</html>
