*
  padding: 0px
  border: 0px
  margin: 0px
  touch-action: manipulation
  font-family: 'Roboto', sans-serif
body
  overflow-x: hidden
  overflow-y: scroll
  background-color: #E1E2E1
.searchbox
  width: 250px
  padding: 10px
  max-height: 80px
  box-sizing: border-box
  label, input
    height: 40px
    font-size: 19px
    width: 100%
    display: inline-block
    display: flex
    justify-content: flex-start
    align-items: center
    display: relative
    box-sizing: border-box
    position: relative
  input
    z-index: 2
    top: -24px
    padding: 7px
    color: white
    background-color: rgba(33, 33, 33, 0)
    border: 0
    border-bottom: 2px solid rgb(212, 0, 255)
  label
    top: 14px
    z-index: 1
    padding: 4px
    color: rgba(212, 0, 255, 0.65)
    transition: top 0.3s, color 0.3s, font-size 0.3s
  input:disabled
    border-bottom: 2px solid rgb(167, 167, 167)
    color: rgb(167, 167, 167)
    cursor: not-allowed
.madeby
  display: flex
  justify-content: center
  align-items: center
  display: -webkit-flex
  -webkit-justify-content: center
  -webkit-align-items: center
  p
    font-size: 15px
    padding: 20px
    color: rgba(0, 0, 0, 0.7)
    a
      color: rgba(0, 0, 0, 0.7)
      text-decoration: underline
.titlebar
  width: 100vw
  height: 70px
  background-color: #212121
  position: fixed
  z-index: 40
  top: 0px
  left: 0px
  right: 0px
  display: flex
  justify-content: flex-start
  align-items: center
  color: white
  box-sizing: border-box
  padding: 20px
  svg
    height: 35px
    width: 35px
    padding-right: 10px
    cursor: pointer
  h1
    font-weight: 400
    font-size: 30px
.header
  padding: 80px 20px 10px 20px
  background-color: #212121
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  color: white
  display: flex
  flex-wrap: wrap
  flex-direction: row
  h1
    font-size: 30px
    color: rgba(255, 255, 255, 1)
  .info
    font-size: 20px
    h1
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      svg
        height: 40px
        width: 40px
        position: absolute
        transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s
        cursor: pointer
        -ms-transform: rotate(180deg)
        -webkit-transform: rotate(180deg)
        transform: rotate(180deg)
      .active
        -ms-transform: rotate(0deg)
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)
    span
      color: rgb(212, 0, 255)
      cursor: pointer
  .auth
    .login
      display: flex
      align-items: center
      display: -webkit-flex
      -webkit-align-items: center
      padding: 20px 0px 10px 0px
      font-size: 19px
      .wg-login-button
        display: inline-block
        padding: 5px 10px
        background-color: #FF5D10
        border-radius: 3px
        border: 1px solid rgba(0, 0, 0, 0.3)
        color: white
        margin-right: 8px
        text-decoration: none
    .logedin
      padding: 20px 0px 10px 0px
      font-size: 19px
      .row
        display: flex
        flex-wrap: wrap
        .submit
          width: 100px
          padding: 5px
          height: 80wpx
          box-sizing: border-box
          display: flex
          justify-content: center
          align-items: center
          display: -webkit-flex
          -webkit-justify-content: center
          -webkit-align-items: center
          button
            cursor: pointer
            width: 100%
            height: 36px
            display: flex
            justify-content: center
            align-items: center
            display: -webkit-flex
            -webkit-justify-content: center
            -webkit-align-items: center
            background-color: rgba(212, 0, 255, 0)
            color: white
            border-radius: 2px
            font-size: 18px
            position: relative
            top: 6px
            border: 2px solid rgb(212, 0, 255)
          button:disabled
            color: rgb(167, 167, 167)
            border: 2px solid rgb(167, 167, 167)
            cursor: not-allowed
          p
            position: relative
            top: 4px
            font-size: 17px
  .sorting, .settings
    .row
      display: inline-block
      padding-bottom: 14px
      button
        display: inline-block
        padding: 3px 10px
        cursor: pointer
        background-color: rgba(212, 0, 255, 0)
        color: white
        border-radius: 2px
        font-size: 18px
        position: relative
        top: 6px
        border: 2px solid #6A1B9A
        margin-right: 4px
        transition: background-color 0.2s
      button.active
        background-color: #6A1B9A
      div
        display: flex
        align-items: center
        display: -webkit-flex
        -webkit-align-items: center
        padding-bottom: 5px
        button
          margin-left: 10px
          margin-right: 0px
  .settings
    width: 300px
  .feedback
    font-size: 16px
    color: rgba(255, 255, 255, 0.6)
    a
      color: rgba(255, 255, 255, 0.6)
      transition: color 0.3s
      &:hover
        color: rgba(255, 255, 255, 1)
  .flex
    width: 450px
  .notflex
    width: 100%
.popup
  z-index: 50
  width: 100vw
  max-height: 100vh
  position: fixed
  top: 100vh
  left: 0px
  overflow-x: hidden
  overflow-y: scroll
  .popup-center
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    min-width: 80vw
    max-width: 80vw
    background-color: white
    box-sizing: border-box
    padding: 20px 20px 50px 20px
    margin: 30vh auto 0vh auto
    display: block
    zoom: 1
    clear: both
    &::after
      content: ""
      clear: both
      display: block
    iframe
      width: 100%
      height: 500px
      margin: 20px 0px
    h1
      font-size: 40px
      padding-bottom: 10px
    h2
      padding-top: 10px
      font-size: 30px
    h3
      padding-top: 15px
      padding-bottom: 5px
      font-size: 25px
    ul, li, p
      list-style-type: none
      font-size: 18px
    .loading-animation
      padding: 50px 0px
      display: flex
      justify-content: center
      align-items: center
      display: -webkit-flex
      -webkit-justify-content: center
      -webkit-align-items: center
      .spinner
        -webkit-animation: rotator 1.4s linear infinite
        animation: rotator 1.4s linear infinite
        margin: 0px auto
        .path
          stroke-dasharray: 187
          stroke-dashoffset: 0
          -webkit-transform-origin: center
          transform-origin: center
          -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite
@media (max-width: 900px)
  .popup
    .popup-center
      min-width: 90vw
      max-width: 90vw
@media (max-width: 750px)
  .popup
    .popup-center
      min-width: inherit
      max-width: inherit
@-webkit-keyframes rotator
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(270deg)
    transform: rotate(270deg)
@keyframes rotator
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(270deg)
    transform: rotate(270deg)
@-webkit-keyframes colors
  0%
    stroke: #4285F4
  25%
    stroke: #DE3E35
  50%
    stroke: #F7C223
  75%
    stroke: #1B9A59
  100%
    stroke: #4285F4
@keyframes colors
  0%
    stroke: #4285F4
  25%
    stroke: #DE3E35
  50%
    stroke: #F7C223
  75%
    stroke: #1B9A59
  100%
    stroke: #4285F4
@-webkit-keyframes dash
  0%
    stroke-dashoffset: 187
  50%
    stroke-dashoffset: 46.75
    -webkit-transform: rotate(135deg)
    transform: rotate(135deg)
  100%
    stroke-dashoffset: 187
    -webkit-transform: rotate(450deg)
    transform: rotate(450deg)
@keyframes dash
  0%
    stroke-dashoffset: 187
  50%
    stroke-dashoffset: 46.75
    -webkit-transform: rotate(135deg)
    transform: rotate(135deg)
  100%
    stroke-dashoffset: 187
    -webkit-transform: rotate(450deg)
    transform: rotate(450deg)

.clanslist
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  background-color: white
  padding: 10px
  margin: 20px
  position: relative
  h1
    padding: 30px 50px 10px 50px
    font-size: 40px
.listheader,.items
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  div
    display: flex
    justify-content: flex-start
    align-items: center
    display: -webkit-flex
    -webkit-justify-content: flex-start
    -webkit-align-items: center
    height: 50px
    box-sizing: border-box
  .cound
    width: 50px
    padding-left: 10px
  .icon
    width: 40px
    margin: 5px
    height: 40px
  .name
    width: 70px
  .clanrating
    width: 80px
  .winrate
    width: 80px
  .leden
    width: 60px
  .s
    width: 100px
  .gm
    width: 150px
  .line
    display: inline-block
    height: 10px
    box-sizing: border-box
    width: 100%
    background-color: #eee
.listheader
  border-bottom: 2px solid #eee
  *
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
.items
  background-color: white
  transition: background-color 0.2s
  cursor: pointer
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  will-change: background-color
  color: black
  text-decoration: none
  &:hover
    background-color: rgb(240, 240, 240)
  *
    color: black
    text-decoration: none
  .icon
    background-size: cover
    border-radius: 100%
    background-repeat: no-repeat
    image-rendering: -webkit-crisp-edges
    image-rendering: -o-crisp-edges
    image-rendering: -moz-crisp-edges
    image-rendering: crisp-edges
    background-image: url('')
    background-color: rgba(238, 238, 238, 0.5)

.loadingbar
  height: 4px
  width: 100vw
  position: fixed
  top: 0px
  left: 0px
  z-index: 41
  .progress
    width: 0%
    height: 4px
    background-color: #9E9E9E

.clanstatspage
  height: 100vh
  width: 100vw
  position: fixed
  left: 0px
  background-color: #E1E2E1
  z-index: 20
  top: 100vh
  .content
    height: 100vh
    overflow-x: hidden
    overflow-y: scroll
    width: 100vw
  .clanintro, .claniconholder
    position: absolute
    width: 100vw
  .clanintro
    height: 55vh
    opacity: 0.4
  .claniconholder
    margin-top: 70px
    max-height: 0px
    .iconholder2
      height: 45vh
      display: flex
      justify-content: center
      align-items: center
      flex-direction: row
      flex-wrap: wrap
      display: -webkit-flex
      -webkit-justify-content: center
      -webkit-align-items: center
      -webkit-flex-direction: row
      -webkit-flex-wrap: wrap
    img, p
      display: flex
      justify-content: center
      align-items: center
      display: -webkit-flex
      -webkit-justify-content: center
      -webkit-align-items: center
      height: 20vh
      width: 20vh
    img
      border-radius: 100px
      overflow: hidden
      -moz-user-select: none
      -webkit-user-select: none
      user-drag: none
      -moz-user-select: none
      -webkit-user-drag: none
      user-select: none
      cursor: normal
      pointer-events: none
    p
      position: relative
      top: 10px
      font-size: 50px
      padding-bottom: 30px
      text-shadow: 0px 2px 10px rgba(255, 255, 255, 0.4)
  .claninfo
    position: relative
    background-color: white
    margin: 50vh 3vw 0px 3vw
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    top: 10px
    .links
      display: flex
      justify-content: center
      align-items: center
      flex-wrap: wrap
      a
        padding: 5px 15px
        background-color: #212121
        color: white
        border-radius: 3px
        font-size: 20px
        text-decoration: none
        margin: 5px
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        transition: all 0.3s cubic-bezier(.25,.8,.25,1)
        position: relative
        top: -22px
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        &:hover
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    .review
      padding: 5px 15px
      font-size: 20px
      a
        display: inline-block
        padding: 5px 15px
        background-color: #212121
        color: white
        border-radius: 3px
        font-size: 20px
        text-decoration: none
        cursor: pointer
        margin-left: 10px
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        transition: all 0.3s cubic-bezier(.25,.8,.25,1)
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        &:hover
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    .stats
      display: flex
      justify-content: space-around
      align-items: center
      flex-direction: row
      flex-wrap: wrap
      display: -webkit-flex
      -webkit-justify-content: space-around
      -webkit-align-items: center
      -webkit-flex-direction: row
      -webkit-flex-wrap: wrap
      .item
        height: 170px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        display: -webkit-flex
        -webkit-justify-content: center
        -webkit-align-items: center
        -webkit-flex-direction: column
        h1
          font-size: 35px
        p
          font-size: 18px
      .s
        width: 130px
      .l
        width: 350px
    .clandis
      padding: 20px 20px 60px 20px
      h1
        font-size: 45px
        font-weight: 400
        padding-bottom: 10px
      .dis
        font-size: 18px
@media (max-width: 600px)
  .clanslist
    margin: 10px
    padding: 5px
