*
  padding: 0px
  border: 0px
  margin: 0px
  touch-action: manipulation

body
  overflow-x: hidden
  overflow-y: scroll
  background-color: #E1E2E1

.titlebar
  width: 100vw
  height: 70px
  background-color: #212121
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  display: flex
  justify-content: flex-start
  align-items: center
  color: white
  box-sizing: border-box
  padding: 20px
  font-size: 30px

.header
  padding: 80px 10px 10px 10px
  height: 400px
  background-color: #212121
  
