.mediatemplate
  .inf
    font-size: 19px
  .yours
    .row
      .imageloader
        height: 200px
        width: 200px
        box-sizing: border-box
        padding: 20px
  .list
    .clan
      padding-top: 10px
      height: 150px
      .clanicon
        height: 120px
        width: 120px
        box-sizing: border-box
        padding: 10px
        div
          height: 100%
          width: 100%
          border-radius: 100px
          background-color: #eee
      .clanimages
